<div class="row">
	<div class="span8 offset1">
		<h1>Employees</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Last Name</th>
					<th>First Name</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<% @employee.each do |employee| %>
				<tr>
					<td><%= link_to employee.last_name, employee %></td>
					<td><%= link_to employee.first_name, employee %></td>
					<td>Assign/Edit/Delete</td>
				</tr>
				<% end %>	
			</tbody>
		</table>
	</div>
</div>