<h1><%= @employee.last_name %><%= @employee.first_name %></h1>
		<table class="table">
			<thead>
				<tr>
					<th>Machine</th>
					<th>Machine Note</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<% @employee.machines.each do |machine| %>
				<tr>
					<td><%= link_to machine.name, machine %></td>
					<td><%= machine.notes %></td>
					<td></td>

				</tr>
				<% end %>	
			</tbody>
		</table>
