				<div class="control-group">
					<label class="control-label">
						Name
					</label>
					<div class="controls">
						<%= item_form.text_field :name %>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">
						Pieces
					</label>
					<div class="controls">
						<%= item_form.text_field :pieces %>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">
						blue Print Number
					</label>
					<div class="controls">
						<%= item_form.text_field :blue_print_number %>
					</div>
				</div>
				<%= item_form.link_to_remove "Remove this item" %>

			<% end %>